* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,body {
height: 100%;
width: 100%;
  font-family: 'Plain Light';
}
#cursor{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.498);
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    cursor: none;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    z-index: 999;
    padding: 18vh 5vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:5vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.8vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 2.5vw;
    font-family: 'silk serif';
    font-weight: 400;
    /* background-color: red; */
}
#line1-part1 h5{
    width: 4vw;
    margin-left: 4vw;
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 700;
}
.line h2{
    font-size: 5vw;
    /* -webkit-text-stroke: #fff7f7; */
    opacity: 0;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: 'plain light';
        opacity: 1;
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 400;
    }
    45%{
        opacity:0;
    }
    50%{
        font-family: 'silk serif';
        opacity: 1;
        -webkit-text-stroke: 0.1px white;
        font-weight: 400;
        color: transparent;
    }
    100%{
        font-family: 'silk serif';
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #030303;
    /* overflow: hidden; */
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#nav{
    height: 3vh;
    width: 100%;
    padding: 3.5vw 4.5vw;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;


}
#nav-part2{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}

#nav-part2 h3{
    font-size: 0.8vw;
    font-weight: 400;
}

.hero{
    height: fit-content;
    width: 72%;
    margin-left: 27%;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7vw;
    line-height: 7vw;
}

.hero h2{
    font-size: 7vw;
    line-height: 7vw;
}

.hero h2:hover{
    transition: all ease-in-out 0.2s;
    font-weight: 400;
    -webkit-text-stroke: 0.25px #fff;
    color: transparent;
}